@font-face {
    font-family: 'Bungee Shade';
    font-style: normal;
    font-weight: 400;
    src: local('Bungee Shade'), local('BungeeShade-Regular'), url(/bungee-shade.woff) format('woff');
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}
